* {
  background-color: rgb(27, 40, 60);
}

#chatContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#idList {
  position: fixed;
  color: rgb(255, 255, 255);
  border-right: 1px solid #cccccc43;
  border-left: 1px solid #cccccc43;
  max-width: 300px;
  min-width: 300px;
  height: 100vh;
  padding: 30px 0px;
  text-align: center;
}

#messageContainer {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  padding: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  border-top: 1px solid #cccccc43;
  border-bottom: 1px solid #cccccc43;
  text-align: center;
  padding: 15px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

nav ul li.active {
  background-color: rgba(211, 211, 211, 0.164);
}

main div.message {
  color: rgb(255, 255, 255);
  border-radius: 10px;
  max-width: 70%;
  margin: 25px 0;
  padding: 10px;
}

main div.system {
  background-color: rgba(22, 76, 203, 0.838);
  flex-wrap: wrap;
  max-width: 50%;
  text-align: center;
  margin: 10px auto;
}

main div.user {
  background-color: #688340;
  flex-wrap: wrap;
  align-self: flex-end;
  max-width: 50%;
}

main div.other {
  background-color: rgb(39, 57, 84);
  flex-wrap: wrap;
  align-self: flex-start;
  max-width: 50%;
}

.author {
  color: rgba(255, 99, 71, 0.85);
  font-weight: bolder;
}

p {
  background-color: transparent;
}
